body {
  padding: 3rem;
  letter-spacing: 1.1px;
  color: $color-secondary;
  font-family: 'Shadows Into Light', cursive;
}

header:not(.header--home) {
  //text-align: center;
  //padding: 5rem;
  height: 15vh;
  position: relative;

  margin-bottom: 10rem;
}

.heading-primary {
  font-size: $font-size-primary-heading;
  text-transform: uppercase;
  display: inline-block;

  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  background-image: linear-gradient(to bottom, $color-secondary-dark, $color-tertiary);
  -webkit-background-clip: text;
  color: transparent;
}

.heading-secondary {
  font-size: $font-size-secondary-heading;
  display: inline-block;

  position: absolute;
  top: 76%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  background-image: linear-gradient(to bottom, $color-secondary-dark, $color-tertiary);
  -webkit-background-clip: text;
  color: transparent;
}

.heading-primary-shorter {
  position: absolute;
  top: 20%;
  left: 50%;
}