.about {
  display: flex;
  flex-direction: column;
  font-size: $font-size-medium-text;

  &__work {
    display: flex;
    padding: 0 3rem;

    &--container {
      flex: 1 1 0;
      min-height: 35rem;
      border-radius: 3px;
      margin: 2rem;
      padding: 1rem;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;

      color: $color-primary;
      font-size: $font-size-primary-heading;
      font-weight: bold;

      &.agh {
        background-image: linear-gradient(to bottom, #f7ebe9b5, #fff), url(/img/d17.jpg);
      }
      &.andea {
        background-image: linear-gradient(to bottom, #f7ebe9b5, #fff), url(/img/andea.jpg);
      }
      background-size: cover;

      span {
        font-size: $font-size-small-text;
        margin: 2rem;
      }
    }

    &--header {
      border-bottom: 1px $color-secondary-transparent solid;
      text-align: center;
    }
  }

  &__subtitle {
    font-size: $font-size-secondary-heading;
    text-align: center;
    padding-bottom: 2rem;
  }

  &__container {
    margin: .5rem;
    padding: 1rem;
    border-radius: 1%;
    box-shadow: 2px 2px 8px $color-shadow;
  }

  ul {
    list-style: none;
    li {
      display: flex;
    }
  }

  ul li {
    justify-content: center;
    text-align: center;
  }

  &__details--title {
    color: $color-secondary;
    text-transform: uppercase;
    padding-right: 1rem;
  }
}