.contact {
  &-section {
    display: flex;
    align-items: baseline;
    font-size: $font-size-medium-text;
  }

  &-form {
    width: 50%;
    margin: 1rem;
    padding: 1rem;
    border-radius: 5%;

    box-shadow: 2px 2px 8px $color-shadow;

    .send-button:hover {
      transform: translateY(-2px);
    }

    .send-button:active {
      transform: translateY(2px);
    }
  }

  &-info {
    width: 50%;
    flex-direction: column;
    padding: 1rem;
    border-radius: 5%;

    box-shadow: 2px 2px 8px $color-shadow;
    display: flex;

    &__item {
      display: flex;
      margin-bottom: 1rem;
      //transition: transform 1s;
    }

    &__label {
      width: 30%;
    }

    &__mail {
      text-align: center;
    }

    &__link {
      text-align: center;
    }

    &__link:hover,
    &__mail:hover {
      text-decoration: none;
      color: $color-shadow;
      transform: translateY(-2px);
    }

    &__link:active,
    &__mail:active {
      color: $color-secondary-dark;
      transform: translateY(2px);
    }

  }

  &-form__title,
  &-info__title {
    text-transform: uppercase;
    font-style: $font-size-secondary-heading;
  }
}