.contact {
  &-section {
    display: flex;
    align-items: stretch;
    font-size: $font-size-medium-text;
  }

  &-form {
    width: 50%;
    margin: 1rem;
    padding: 1rem 4rem;
    border-radius: 4px;

    box-shadow: 2px 2px 8px $color-shadow;

    .send-button:hover {
      transform: translateY(-2px);
    }

    .send-button:active {
      transform: translateY(2px);
    }
  }

  &-info {
    width: 50%;
    margin: 1rem;
    padding: 1rem;
    border-radius: 4px;
    flex-direction: column;
    align-items: center;

    box-shadow: 2px 2px 8px $color-shadow;
    display: flex;

    &__items {
      display: flex;
      flex-flow: wrap;
      justify-content: center;

      margin-top: 3rem;
    }

    &__item {
      width: 17rem;
      height: 17rem;

      margin: 1rem;
      padding: 1rem;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      //transition: transform 1s;

      text-decoration: none;
      background: $color-text-primary;
      color: $color-footer;
      border-radius: 4px;
      position: relative;

      font-size: $font-size-primary-heading;

      &:after {
        content: "";
        width: 17rem;
        height: 17rem;
        border-radius: 4px;
        background-color: $color-text-primary;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
      }

      &:hover {
        box-shadow: 2px 2px 8px $color-shadow;
      }

      &:active::after {
        transform: scaleX(2) scaleY(2);
        opacity: 0;
      }
    }

    &__link:hover,
    &__mail:hover {
      text-decoration: none;
      color: $color-shadow;
      transform: translateY(-2px);
    }

    &__link:active,
    &__mail:active {


      color: $color-secondary-dark;
      transform: translateY(2px);
    }
  }

  &-form__title,
  &-info__title {
    text-transform: uppercase;
    font-style: $font-size-secondary-heading;
  }
}

.form-field {
  &__label {
    margin-left: 1rem;
  }

  &__text {
    font-size: $font-size-small-text;
  }
}