.project {
  &-section {
    justify-content: center;
    display: flex;
    align-items: center;

    &__container {
      display: flex;
      justify-content: center;

      border-radius: 5%;
      background-color: $color-dark-violet;
      box-shadow: 2px 2px 8px $color-shadow;
    }
  }

  &-panel {
    display: flex;
    flex-direction: column;
    height: 30rem;
    justify-content: center;
    //transition: transform .3s;

    width: 40%;
  }
}