.project {
  &-section {
    justify-content: center;
    display: flex;
    align-items: center;

    &__container {
      width: 80vw;
      display: flex;
      justify-content: center;

      padding: 10rem 5rem;

      border-radius: 3px;
      background-color: $color-dark-violet;
      box-shadow: 2px 2px 8px $color-shadow;
    }
  }

  &-panel {
    display: flex;
    flex-direction: column;
    min-height: 30rem;
    justify-content: center;
    //transition: transform .3s;

    width: 35%;
  }
}