
// Body
$body-bg: #FCECEA;

// Typography
//$font-family-sans-serif: "Nunito", sans-serif;
//$font-size-base: 0.9rem;
//$line-height-base: 1.6;

//Custom

$font-size-primary-heading: 4.5rem;
$font-size-secondary-heading: 4rem;
$font-size-medium-text: 3rem;
$font-size-small-text: 2rem;

// Custom
$color-background-primary: #FCECEA;
$color-primary: rgba(238, 129, 123);
$color-secondary: rgba(246, 175, 170);
$color-secondary-dark: #FFB2AE;
$color-secondary-transparent: #ffb2ae75;
$color-tertiary: #e2a8a4;
$color-footer: #928484;
$color-dark-violet: #cc9592;
$color-button: #bdadad;
$color-shadow: rgba(80, 21, 21, 0.73);
$color-text-primary: #fcf9f6;
$color-footer-light: #E9E9E9;

