
// Body
$body-bg: #FCECEA;

// Typography
//$font-family-sans-serif: "Nunito", sans-serif;
//$font-size-base: 0.9rem;
//$line-height-base: 1.6;

//Custom

$font-size-primary-heading: 3.5rem;
$font-size-secondary-heading: 2.5rem;
$font-size-medium-text: 2rem;
$font-size-small-text: 1.5rem;

// Custom
$color-background-primary: #FCECEA;
$color-primary: #EE817B;
$color-secondary: #F6AFAA;
$color-secondary-dark: #FFB2AE;
$color-secondary-transparent: #ffb2ae75;
$color-tertiary: #e2a8a4;
$color-footer: #928484;
$color-dark-violet: #cc9592;
$color-button: #bdadad;
$color-shadow: rgba(80, 21, 21, 0.73);
$color-text-primary: #fcf9f6;
$color-footer-light: #E9E9E9;

