.button-brick {
  border-radius: 3px;
  font-size: $font-size-medium-text;
  margin: .5rem;
  padding: .6rem 0;
  height: 8rem;

  color: $color-text-primary;

  &:not(.button-brick-disabled) {
    box-shadow: 2px 2px 8px $color-shadow;
  }
  background: $color-button;

  transition: all .4s;



  &:hover:not(.button-brick-disabled){
    transform: translateY(-.7rem);
    border-radius: 3px;
    background-color: $color-shadow;
    box-shadow: 4px 4px 8px $color-shadow;

    &::before {
      box-shadow: 0 1rem 1rem rgba($color-shadow,.3);
      border-radius: 0;
    }
  }


  &:active:not(.button-brick-disabled){
    transform: translateY(.5rem);
  }
}